snippet vm-start
  #!/usr/bin/env bash
  #
  # ...
  #
  # Author: ${1:MVladislav}
  # Date: ${2:2026}
  # License: ${3:MIT}
  #
  set -euo pipefail

snippet vm-shebang
  #!/usr/bin/env bash
  set -euo pipefail
