[user]
  # email = groot@home.local
  # name = groot
  # signingkey = ~/.ssh/id_ed25519_github.pub
[commit]
  # gpgsign = true
[gpg]
  format = ssh
[safe]
	directory = ~/*
[core]
  hooksPath = ~/.git-hooks
  compression = 9
  whitespace = error
  preloadindex = true
  editor = vim
  # pager = delta
  # pager = diff-so-fancy
[init]
  defaultBranch = main
[push]
  autoSetupRemote = true
  default = current
  followTags = true
[pull]
  ff = only
  default = current
  rebase = true
[merge]
  # conflictSyle = diff3
  conflictSyle = zdiff3
[rebase]
  autoStash = true
  missingCommitsCheck = warn
[branch]
  sort = -committerdate
[tag]
  sort = -taggerdate
[advice]
  addEmptyPathspec = false
  pushNonFastForward = false
  statusHints = false
  detachedHead = false
[status]
  branch = true
  showStash = true
  showUntrackedFiles = all
[log]
  abbrevCommit = true
  graphColors = blue,yellow,cyan,magenta,green,red
[diff]
  context = 3
  renames = copies
  interHunkContext = 10
  tool = nvimdiff
  colorMoved = default
[pager]
  branch = false
  tag = false
  # diff = diff-so-fancy | $PAGER
[interactive]
  # diffFilter = diff-so-fancy --patch
  # diffFilter = delta --color-only
  # singlekey = true
[color "diff"]
  meta = black bold
  frag = magenta
  context = white
  whitespace = yellow reverse
  old = red
[color "decorate"]
  HEAD = red
  branch = blue
  tag = yellow
  remoteBranch = magenta
[color "branch"]
  current = magenta
  local = default
  remote = yellow
  upstream = green
  plain = blue
[url "git@github.com:"]
  insteadOf = "gh:"
[diff-so-fancy]
  markEmptyLines = false
[delta]
  dark = true
  navigate = true
  side-by-side = true
  line-numbers = true
