# Ignore .hidden files
.*
# Ignore everything
*

!.gitignore
!.gitmodules
!.gitattributes

!.pre-commit-config.yaml
!.yamllint

!README.md
!setup-helper
!setup-tools
!setup
!setup-sec

!git/
git/**
!git/.gitconfig
!git/commit-msg
!git/pre-commit
!git/lazygit.yml

!zsh/
zsh/**
!zsh/zshrc
!zsh/themes/
zsh/themes/**
!zsh/themes/.gitempty
!zsh/themes/spaceship
zsh/themes/spaceship/**

!profiles/
profiles/**
!profiles/profile-sec
!profiles/profile-sec-base
!profiles/profile-sec-helper
!profiles/profile-sec-check
!profiles/profile-sec-api
!profiles/profile-sec-tools
!profiles/profile-append
!profiles/profile1-base
!profiles/profile2-defaults
!profiles/profile2-pass
!profiles/profile3-containers
!profiles/profile4-helper
!profiles/profile4-tests
!profiles/profile5-git
!profiles/profile6-other

!zsh/plugins/
zsh/plugins/**
!zsh/plugins/.gitempty
!zsh/plugins/zsh-autosuggestions
zsh/plugins/zsh-autosuggestions/**
!zsh/plugins/zsh-syntax-highlighting
zsh/plugins/zsh-syntax-highlighting/**
!zsh/plugins/zsh-history-substring-search
zsh/plugins/zsh-history-substring-search/**

!bin/
!bin/*

!nvim/
nvim/**
!nvim/*.lua
!nvim/lua/
nvim/lua/**
!nvim/lua/vm/
nvim/lua/vm/**
!nvim/lua/vm/*.lua
!nvim/lua/vm/lazy/
nvim/lua/vm/lazy/**
!nvim/lua/vm/lazy/*.lua

!nvim/lua/config/
!nvim/lua/config/ui.lua

!nvim/snippets/
!nvim/snippets/*.snippets

!tmux/
tmux/**
!tmux/tmux.conf

!tmux/tmux/
tmux/tmux/**
!tmux/tmux/*.conf

!tmux/tmux/plugins/
tmux/tmux/plugins/**
!tmux/tmux/plugins/tpm
tmux/tmux/plugins/tpm/**

!code/
code/**
!code/*.json
!code/snippets/
code/snippets/**
!code/snippets/*.code-snippets

!zed/
zed/**
!zed/*.json
!zed/snippets/
zed/snippets/**
!zed/snippets/*.json
!zed/codebook.toml

!configs-single/
configs-single/**
!configs-single/ghostty.conf
!configs-single/btop.conf
!configs-single/hunk.toml
