# Ignore .hidden files
.*
# Ignore everything
*

!.gitignore
!.gitmodules
!.gitattributes

!.pre-commit-config.yaml
!.yamllint

!README.md
!setup-helper
!setup-tools
!setup
!setup-sec

!git/
git/**
!git/.gitconfig
!git/commit-msg
!git/pre-commit

!zsh/
zsh/**
!zsh/zshrc
!zsh/profile-sec
!zsh/profile-sec-base
!zsh/profile-sec-api
!zsh/profile-sec-tools
!zsh/profile-append
!zsh/profile1-base
!zsh/profile2-defaults
!zsh/profile3-containers
!zsh/profile4-helper
!zsh/profile4-tests
!zsh/profile5-git
!zsh/profile6-other

!zsh/themes/
zsh/themes/**
!zsh/themes/.gitempty
!zsh/themes/spaceship
zsh/themes/spaceship/**

!zsh/plugins/
zsh/plugins/**
!zsh/plugins/.gitempty
!zsh/plugins/zsh-autosuggestions
zsh/plugins/zsh-autosuggestions/**
!zsh/plugins/zsh-syntax-highlighting
zsh/plugins/zsh-syntax-highlighting/**
!zsh/plugins/zsh-history-substring-search
zsh/plugins/zsh-history-substring-search/**

!ghostty/
ghostty/**
!ghostty/config

!bin/
!bin/*

!nvim/
nvim/**
!nvim/*.lua
!nvim/lua/
nvim/lua/**
!nvim/lua/vm/
nvim/lua/vm/**
!nvim/lua/vm/*.lua
!nvim/lua/vm/lazy/
nvim/lua/vm/lazy/**
!nvim/lua/vm/lazy/*.lua


!nvim/snippets/
!nvim/snippets/*.snippets

!tmux/
tmux/**
!tmux/tmux.conf

!tmux/tmux/
tmux/tmux/**
!tmux/tmux/*.conf

!tmux/tmux/plugins/
tmux/tmux/plugins/**
!tmux/tmux/plugins/tpm
tmux/tmux/plugins/tpm/**

!code/
code/**
!code/*.json
!code/snippets/
code/snippets/**
!code/snippets/*.code-snippets

!zed/
zed/**
!zed/*.json
!zed/snippets/
zed/snippets/**
!zed/snippets/*.json

!logseq/
logseq/**
!logseq/*.edn
!logseq/*.json
!logseq/*.css

!btop/
btop/**
!btop/*.conf

!os/
os/**

!os/pipewire/
os/pipewire/**
!os/pipewire/*.conf
